In [1]:
S0 = 100.
K = 105.
T = 1.0
r = 0.05
sigma = 0.2

In [2]:
#sale price decision algorithm using numpy
from numpy import *

I = 100000

z = random.standard_normal(I)
ST = S0 * exp((r - 0.5 * sigma ** 2) * T + sigma * sqrt(T) * z)
hT = maximum(ST - K, 0)
C0 = exp(-r * T) * sum(hT) / I

In [8]:
print("Value of the European Call Option %5.3f" % C0 )

Value of the European Call Option 8.040

In [12]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web

In [15]:
goog = web.DataReader('GOOG', data_source='yahoo', start='3/14/2009', end='4/14/2014')
goog.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-04-08,553.480408,540.127075,541.114380,553.380676,3151228.0,553.380676
2014-04-09,563.822021,551.436035,558.087769,562.595398,3330820.0,562.595398
2014-04-10,563.453064,538.421753,563.453064,539.468872,4036853.0,539.468872
2014-04-11,538.521484,525.088379,531.091858,529.147217,3924846.0,529.147217
2014-04-14,542.610291,528.110046,536.776306,531.061951,2575050.0,531.061951